* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Color variables
$black-color: #333;
$white-color: #fff;
$error: #ff0000;

html,
body {
  background-color: $white-color;
  color: $black-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

.form-error {
  color: #ff0000;
  font-size: 15px;
  display: inline-block;
  min-height: 20px;
}

.page__header {
  padding: 1.5rem 0;
  .list {
    margin: 0;

    .link {
      min-width: 100px;
      text-align: right;
      a {
        display: inline-block;
        color: $black-color;
        text-decoration: none;
        text-transform: capitalize;
      }
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  form {
    .form-error {
      color: #ff0000;
      font-size: 15px;
    }
    width: 100%;
    text-align: center;
    .fieldset {
      width: 100%;
      .input {
        padding: 10px 20px;
        display: block;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;

        &::placeholder {
          color: #b2b2b2;
        }

        &:focus {
          outline: none;
          border: 1px solid #242424;

          &::placeholder {
            color: #fff;
          }
        }
      }
    }
  }
}
.post-image {
  img {  
    width: 100%;
    height: 300px;
    object-fit: contain;

    @media(max-width: 767px) {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  }
}
.add-post {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.desktop-form {
  display: block;

  @media(max-width: 767px) {
    display: none;
  }
}

.mobile-fixed {
  @media (max-width: 767px) {
    position: fixed;
    z-index: 10;
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2rem 1rem;
  }

}

.scrollable {
  max-height: calc(100vh - 30px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #242424;
  }
  &::-webkit-scrollbar-track {
    background-color: #cccccc30;
  }

  @media (max-width: 767px) {
    overflow-y: visible;
    max-height: initial;
  }
}


.more-option {
  background-color: transparent;
  border: none;
  min-width: 20px;
  max-height: 20px;

  > span {
    width: 3px;
    height: 3px;
    margin: 3px auto;
    display: flex;
    background-color: #ccc;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 50%;
  }

  &:focus {
    outline: none;
    border: none;
  }
}

.drop-box {
  position: relative;
  padding: 0;
  
  .options {
    position: absolute;
    background-color: #fff;
    border: 1px solid #74747430;
    border-radius: 5px;
    right: 10px;
    top: 20px;
    min-width: 120px;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;


    .btn {
      background-color: transparent;
      padding: 0;
      border: none;
      color: #242424;
      width: 100%;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .options.show {
    max-height: initial;
    opacity: 1;
    z-index: 10;
    top: 35px;
    padding-top: 10px;
    padding-bottom: 10px;   
  }
}

.open-comments {
  cursor: pointer;
}


.post-info {
  span {
    font-size: 12px;
    color: #747474;
  }
}
.post-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin-bottom: 15px;
}

.post-created {
  font-size: 12px;
  color: #909090;
  margin-bottom: 20px;
}
.post-actions {
  border-top: 1px solid #ccc;

  .btn {
    max-width: calc(100% / 3);
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 10px 0;

    @media (max-width: 767px){
      padding: 0;
      font-size: 14px;
      line-height: 1.5;
    }
  }
  .btn:not(:last-child) {
    border-right: 1px solid #ccc;
  }
}

.post-form {
  margin: 10px 0;

  .input {
    position: relative;
    > span {
      position: absolute;
      max-width: 200px;
      width: 100%;
      right: 10px;
      color: #333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 50%;
      color: #333;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .field {
    padding: 10px 20px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;

    &::-webkit-file-upload-button {
      visibility: hidden;
    }
    &[type="file"] {
      color: #fff;

      &::before {
        content: "Select the file";
        width: 20%;
        height: 80%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    &::placeholder {
      color: #b2b2b2;
    }

    &:focus {
      outline: none;
      border: 1px solid #242424;

      &::placeholder {
        color: #fff;
      }
    }
  }
}
